<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifrabbit.nk.usercenter.domain.Operate">

  <insert id="insertRoleOperate">
    insert into uc_role_operate(role_id,operate_id) values (#{roleId}, #{operateId,jdbcType=NUMERIC})
  </insert>

  <delete id="deleteRoleOperateByOperateId">
    delete from uc_role_operate where operate_id = #{operateId,jdbcType=NUMERIC}
  </delete>

</mapper>