<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifrabbit.nk.usercenter.domain.UfloTask">

    <sql id="SELECT_CONDITION_INNER">
        <if test="_condition.fuzzyExpressNumber!= null">
            and `ufloTask.problem`.problemparts_expressnumber like concat('%',#{_condition.fuzzyExpressNumber},'%')
        </if>
        <if test="_condition.fuzzyExpressType!= null">
            and `ufloTask.problem`.problemparts_type like concat('%',#{_condition.fuzzyExpressType},'%')
        </if>
    </sql>

</mapper>